<h1 mat-dialog-title style="color:#c51162;font-weight:bold;text-align:center">Success!</h1>

<p style='text-align:center;font-weight:bold;font-size:24px'> Your form was submitted! </p>
<p style='text-align:center;font-size:18px'> Your training is in queue. Please check your progress in the Visualization tab. </p>
