body{
    width:100% ;
    padding:0;
}

.card-1{
  width:63%;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:20px;
  float:right;
  height:764px;
}

.card-2{

    width:33%;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    height:100%;
  }
.card-3{

    width:38%px;
    margin-top:70px;
    margin-bottom:100px;
    margin-left:30px;
    display:inline-block;
    height:670px;

  }
.card-3 h3{
    display:inline-block;
    color:#757575;
}
h3 {
    display:inline-block;
    color:#757575;

}
.settings{
    display:inline-block;
    width:400px;
    height:100px;
    margin-top:70px;
}

  .mat-slider-horizontal {
    width: 400px;
  }
.filter-slider{
    width:60px!Important;
    padding:0!Important

}
.filters-tool{
    display:inline-block;
    margin-top:10px;
    margin-left:20px;
}
.filters-tool p{
    margin:0;
    color:#c51162;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;

}

.filter{
    width:120px;
    margin-left:20px;
    display:inline-block
}
.mat-input-element{
    font-size:20px
  }

/* .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
} */

.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

.mat-browse-button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color:white;
    font-size:14px;
    font-weight:bold;
    width:185px;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.btn_browse {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color:white;
  font-size:14px;
  font-weight:bold;
  width:185px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
}
.step-number{

    background-color: #009688;
    width:32px;
    height:32px;
    border-radius:50%;
    text-align:center;
    color:white;
    font-size:18px;
    margin-right:20px;
    margin-left:5px;
    margin-top:10px;
    display:inline-block;
    }

.step-number p{
    margin:0;
    margin-top:4px
}
.btn{
    color:white;
    font-size:14px;
    font-weight:bold;
    width: 200px;
}

.btns{
    color:white;
    font-size:14px;
    font-weight:bold;
}

.help{
    width:40px;
    height:40px;
}

.tools{

    margin-top:30px;
    float:left
}

.tools mat-icon{
    color:#c51162
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
