<mat-card class="card-2">
  <form [formGroup]="inferenceForm">
    <div class="step-number"><p>1</p></div><h3>Dataset</h3><br>
    <div class="example-form">
      <div>
        <mat-form-field style="width:50%">
          <mat-select placeholder="Image Source" formControlName="imageSrc" required>
            <mat-option>--</mat-option>
            <mat-option value="upload">Upload Images</mat-option>
            <mat-option value="database">Database Images</mat-option>
            <mat-option value="dataset">Existing Dataset</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!inferenceForm.get('imageSrc').valid && inferenceForm.get('imageSrc').touched"></span>
        </mat-error>
      </div>
      <div *ngIf="inferenceForm.get('imageSrc').value==='upload'">
        <input type="file"
               style="display:none"
               (change)=onImgChanged($event)
               required="inferenceForm.get('imageSrc').value==='upload'"
               accept="image/png, image/jpeg"
               multiple
               #imgInput>
        <button mat-raised-button class='btn' style="float:left;background-color:#FF5722" (click)="imgInput.click()"> Select Images </button>
        <mat-error>
          <span *ngIf="inferenceForm.get('imageSrc').value==='upload'"></span>
        </mat-error><br><br><br>
        <input type="file"
               style="display:none"
               (change)=onLblChanged($event)
               accept=".txt"
               multiple
               #lblInput>
        <button mat-raised-button class='btn' style="float:left;background-color:#FF5722" (click)="lblInput.click()"> Select Labels </button><br><br>
      </div>

      <div *ngIf="inferenceForm.get('imageSrc').value==='database'">
        <mat-form-field style="width:50%">
          <mat-select placeholder="Available Tags" formControlName="databaseTags" required="inferenceForm.get('imageSrc').value==='database'">
            <mat-option>--</mat-option>
            <mat-option value="splitbot">Splitbot</mat-option>
            <mat-option value="pickbot">Pickbot</mat-option>
            <mat-option value="placebot">Placebot</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field style="width:50%">
          <input matInput placeholder="Number of Pictures" formControlName="numImages">
        </mat-form-field>
        <mat-error>
          <span *ngIf="!inferenceForm.get('numImages').valid"></span>
        </mat-error>
      </div>

      <div *ngIf="inferenceForm.get('imageSrc').value==='dataset'">
        <mat-form-field style="width:50%">
          <mat-select placeholder="Available Datasets" formControlName="dataset" required="inferenceForm.get('imageSrc').value==='dataset'">
            <mat-option>--</mat-option>
            <mat-option value="splitbot">Splitbot</mat-option>
            <mat-option value="pickbot">Pickbot</mat-option>
            <mat-option value="placebot">Placebot</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field style="width:50%">
          <mat-select placeholder="Set" formControlName="datasetSet" required="inferenceForm.get('imageSrc').value==='dataset'">
            <mat-option>--</mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="train"> Train </mat-option>
            <mat-option value="test"> Test </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!inferenceForm.get('datasetSet').valid && inferenceForm.get('datasetSet').touched"></span>
        </mat-error>
        <mat-form-field style="width:50%">
          <input matInput placeholder="Number of Pictures" formControlName="numImages">
        </mat-form-field>
        <mat-error>
          <span *ngIf="!inferenceForm.get('numImages').valid"></span>
        </mat-error>
      </div><br>
      <div class="step-number"><p>2</p></div><h3>Run</h3><br>
      <mat-form-field style="width:50%">
        <mat-select placeholder="Run on..." formControlName="runMode" required>
          <mat-option>--</mat-option>
          <mat-option value="local"> Run Locally </mat-option>
          <mat-option value="server"> Run on Server </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error>
        <span *ngIf="!inferenceForm.get('runMode').valid && inferenceForm.get('runMode').touched"></span>
      </mat-error>
    </div>
    <div style="margin:auto;width:230px">
      <button mat-raised-button class='btns' (click)=onSubmit() style="float:left;background-color:#FF5722">
        <i class="material-icons">create</i>Submit</button>
      <button mat-raised-button class='btns' (click)=onClear() style="width:105px;float:right;margin-left:20px;background-color:#C2C2C2">
        <i class="material-icons">clear</i>Clear</button>
    </div>
  </form>
</mat-card>

<mat-card class="card-1">
  <slideshow [imageUrls]="images"></slideshow>
</mat-card>
