

/*  -------------------------
		General styling
	-------------------------*/

.jumbotron{
	text-align:center;
}

label{
	min-width:100px;
}


u{
	cursor:pointer;
}







/* --------------------------
	File upload menu styling
----------------------------*/

.file-drop-area {

  position: relative;
  display: flex;
  align-items: center;

  padding: 25px;

  border: 1px dashed #aaa;
  border-radius: 20px;
  transition: 0.2s;
  background-color:#eee;

  &.is-active {
    background-color: #eee;
  }
}

.fake-btn {
  flex-shrink: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px 15px;
  margin-bottom:10px;
  margin-right: 10px;
  font-size: 1em;
  
}

.file-msg {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form{
	min-width:80%;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}
