
<h1 mat-dialog-title style="color:#c51162;font-weight:bold">Instructions</h1>

<mat-list role="list">
    <h3 matSubheader style="color:#c51162;font-weight:bold"> Training </h3>
    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Start by choosing a dataset. A sample of the dataset will be shown on the right. </p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Choose a name for your training. If you pick an already-used name, a version number will be appended to it, e.g. training_v1. </p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Select a model, a training checkpoint, and set up your configuration. Submit, and you're good to go! </p>
    </mat-list-item>

    <h3 matSubheader style="color:#c51162;font-weight:bold">Dataset Instructions</h3>

    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Add dataset instructions here! </p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Add dataset instructions here! </p>
    </mat-list-item>

    <h3 matSubheader style="color:#c51162;font-weight:bold">Inference Instructions</h3>

    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Add dataset instructions here! </p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Add dataset instructions here! </p>
    </mat-list-item>

    <h3 matSubheader style="color:#c51162;font-weight:bold">Visualization Instructions</h3>

    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Add dataset instructions here! </p>
    </mat-list-item>

    <mat-list-item role="listitem">
      <i class="material-icons" style="font-size:15px;color:#c51162;margin-right:10px">fiber_manual_record</i>
      <p> Add dataset instructions here! </p>
    </mat-list-item>

  </mat-list>
