body{
    width:100% ;
    padding:0;
}
.card-2{

    width:60%px;
    margin-top:70px;
    margin-bottom:100px;
    float:left;
    height:670px;
  }
.card-3{

    width:38%px;
    margin-top:70px;
    margin-bottom:100px;
    margin-left:30px;
    display:inline-block;
    height:670px;

  }
.card-3 h3{
    display:inline-block;
    color:#757575;


}
.settings{
    display:inline-block;
    width:400px;
    height:100px;
    margin-top:70px;
}
.header{
    width:94.7%;
    height:80px;
    background-color: #00796B;
    padding-top:20px;
    padding-left:100px;
}
.header img{
    margin-left:5%;
    float:left;
}
.header h2{
    color:#FFFFFF;
    font-family: Arial;
    padding-top:20px;
    margin-top:0;
    margin-left:100px
}
.footer{
    bottom:0;
    padding-top: 10px;
    height: 30px;
    width: 100%;
    background-color:#757575;
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: arial;
    font-size:24px;
  }
.footer p{
    font-size:18px;
    color: white;
    margin-top:4px;
    margin-bottom:0px;
  }

.step-number{

    background-color: #009688;
    width:32px;
    height:32px;
    border-radius:50%;
    text-align:center;
    color:white;
    font-size:18px;
    margin-right:20px;
    margin-left:5px;
    margin-top:10px;
    display:inline-block;
    }

.step-number p{
    margin:0;
    margin-top:4px
}
.btn{
    color:white;
    font-size:14px;
    font-weight:bold;
}
.runyolo{
    background-color:#c51162!Important;
}

.help{
    width:60px;
    height:60px;
    position:fixed;
    bottom:40px;
    right:10px;
}

.tools{

    margin-top:30px;
    float:left
}

.tools mat-icon{
    color:#c51162
}
