<div class="header">
    <img src="./assets/logo.png" alt='logo' width='60px'>
    <h2>DLTK Training Tool</h2>
</div>
<br>

<mat-tab-group mat-stretch-tabs style="width:87%;margin:auto">
  <mat-tab label="Training">
    <div><app-training-job></app-training-job></div>
  </mat-tab>
  <mat-tab label="Dataset">
    <!-- <div><app-dataset-creator></app-dataset-creator></div> -->
  </mat-tab>

  <mat-tab label="Inference">
    <!-- <div><app-inference-job></app-inference-job></div> -->
  </mat-tab>


  <mat-tab label="Visualization">

  </mat-tab>

</mat-tab-group>

<button mat-icon-button class='help' (click)="openInstructions()" >
    <i class="material-icons" style="font-size:40px;color:#c51162">help</i>
</button >

<div class="footer">
    <p > Version 2.0  BMW Logistics Robotics  | 2018</p>
</div>
