{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"/>

<div class="jumbotron mb-5 mt-5">

<h1 class="mb-5">Create Plant</h1>

<form enctype="multipart/form-data" action="/createplant" method="POST">

  {{ form.hidden_tag() }}

  <div class="form-group">

    {{ form.plant_name.label(class_="col-form-label") }}
    
    {{ form.plant_name(class_="form-control mb-2") }}

    {% for error in form.plant_name.errors %}
      <span class="text-danger">{{ error }}</span>
    {% endfor %}

  </div>

  <div class="container d-flex justify-content-center mt-5 ">
    <a class="btn btn-lg btn-dark submit mr-4" href="{{ url_for('upload.upload') }}">Back</a>
    <button class="btn btn-lg btn-dark submit" type="submit">Submit</button>
  </div>

  
{% endblock %}