{% extends "base.html" %}

{% block content %}


<div class="container ">

<div class="card">
	<div class="card-header">Server Datasets</div>
  <ul class="list-group list-group-flush">
  	{% for dataset in datasets %}
    	<a href="/getoverview?dataset={{dataset}}"><li class="list-group-item">{{ dataset }}</li></a>
    {% endfor %}
  </ul>
</div>

</div>

<style>
.list-group .list-group-item:hover {
    background-color: #f5f5f5;
    transition: all 0.1s;
}
.list-group .list-group-item{
	transition: all 0.1s;
}
</style>

{% endblock %}