{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"/>

<div class="jumbotron mb-5 mt-5">

<h1 class="mb-5">Upload Dataset</h1>

<form enctype="multipart/form-data" action="/upload" method="POST">
  
      {{ dataset_form.hidden_tag() }}

      <div id="dataset-name" class="form-inline mb-4">
        
        {{ dataset_form.dataset_name.label(class_="form-label") }}

        {{ dataset_form.dataset_name(class_="form-control mb-2") }}

        {% for error in dataset_form.dataset_name.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}

      </div>

      <div id="usecases-dropdown" class="form-inline mb-4">
        
        {{ dataset_form.usecase_name_select.label(class_="form-label") }}

        {{ dataset_form.usecase_name_select(class_="form-control mr-auto mb-2") }}

        <u><a href="{{ url_for('upload.createusecase') }}" class="text-info ml-sm-3 ml-xs-0">New usecase? Add usecase</a></u>
        
        {% for error in dataset_form.usecase_name_select.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}

      </div>
      


      <div id="plants-dropdown" class="form-inline mb-4">

          {{ dataset_form.plant_name_select.label(class_="form-label") }}

          {{ dataset_form.plant_name_select(class_="form-control mr-auto mb-2")}}

          <u><a href="{{ url_for('upload.createplant') }}" class="text-info ml-sm-3 ml-xs-0">New plant? Add plant</a></u>

          {% for error in dataset_form.plant_name_select.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}

      </div>
      


	<div class="flex-column file-drop-area">
	  
	  <span class="fake-btn btn btn-light">Choose dataset directory</span>
	  
	  <span class="file-msg">or drag and drop folder here</span>

	  <input class="file-input" type="file" name="folder" webkitdirectory mozdirectory>

	</div>


	<div class="container d-flex justify-content-center mt-5 ">
		<button class="btn btn-lg btn-dark submit" type="submit">Upload</button>
	</div>


</form>

</div>



<script>


var $fileInput = $('.file-input');
var $droparea = $('.file-drop-area');

// highlight drag area
$fileInput.on('dragenter focus click', function() {
  $droparea.addClass('is-active');
});

// back to normal state
$fileInput.on('dragleave blur drop', function() {
  $droparea.removeClass('is-active');
});

// change inner text
$fileInput.on('change', function() {

  var filesCount = $(this)[0].files.length;
  var $textContainer = $(this).prev();

  if (filesCount === 1) {
    // if single file is selected, show file name
    var fileName = $(this).val().split('\\').pop();
    $textContainer.text(fileName);
  } else {
    // otherwise show number of files
    $textContainer.text(filesCount + ' files selected');
  }
});

</script>

{% endblock %}