<mat-card class="card-1">
  <h3>Welcome to Dataset Creator! - {{pcName}}</h3>
  <p> You can either create a dataset from existing images on the database, grouping them by classes, tags, plants, and usecases.
      Alternatively, you can upload your own images and labels.</p>
  <form [formGroup]="datasetForm">
    <div style="float:left;width:100%">
      <mat-form-field style="width:30%">
        <mat-select placeholder="Creator Mode" value="database" formControlName="creatorMode">
          <mat-option value="database">Create from Existing Images</mat-option>
          <mat-option value="upload">Upload New Images</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="datasetForm.get('creatorMode').value=='database'">
      <div style="float:left;width:100%">
        <mat-form-field style="width:70%">
          <mat-select placeholder="Select Classes" formControlName="classes" multiple>
            <mat-option *ngFor="let type of datasetInfo.classes" value={{type}}> {{type}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="datasetForm.get('creatorMode').value=='database'">
      <div style="float:left;width:100%">
        <mat-form-field style="width:70%">
          <mat-select placeholder="Select Plants" formControlName="plants" multiple>
            <mat-option *ngFor="let plant of datasetInfo.plants" value={{plant}}> {{plant}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="datasetForm.get('creatorMode').value=='database'">
      <div style="float:left;width:100%">
        <mat-form-field style="width:70%">
          <mat-select placeholder="Select Usecases" formControlName="usecases" multiple>
            <mat-option *ngFor="let usecase of datasetInfo.usecases" value={{usecase}}> {{usecase}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="datasetForm.get('creatorMode').value=='database'">
      <div style="float:left;width:100%">
        <mat-form-field style="width:70%">
          <mat-select placeholder="Select Tags" multiple>
            <mat-option value="upload">Dirty</mat-option>
            <mat-option value="database">Empty</mat-option>
            <mat-option value="dataset">Pink</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="datasetForm.get('creatorMode').value=='upload'" style="width:320px;height:400px">
      <input type="file"
             style="display:none"
             (change)=onImgChanged($event)
             required="datasetForm.get('creatorMode').value=='upload'"
             accept="image/png, image/jpeg"
             multiple
             #imgInput>
      <button mat-raised-button class='btn' style="float:left;background-color:#FF5722" (click)="imgInput.click()"> Select Images </button>
      <mat-error>
        <span *ngIf="datasetForm.get('creatorMode').value=='upload'"></span>
      </mat-error><br><br><br>
      <input type="file"
             style="display:none"
             (change)=onLblChanged($event)
             required="datasetForm.get('creatorMode').value=='upload'"
             accept=".json"
             multiple
             #lblInput>
      <button mat-raised-button class='btn' style="float:bottom;background-color:#FF5722" (click)="lblInput.click()"> Select Labels </button><br><br>
      <mat-error>
        <span *ngIf="datasetForm.get('creatorMode').value=='upload'"></span>
      </mat-error><br><br><br>
    </div>

    <!-- <div *ngIf="datasetForm.get('creatorMode').value=='upload'">
      <div style="margin-left:5%;width:600px">
        <input type="file"
               style="display:none"
               (change)=onImgChanged($event)
               required="datasetForm.get('creatorMode').value=='upload'"
               accept="image/png, image/jpeg"
               multiple
               #imgInput>
        <button mat-raised-button class='btn' style="float:left;background-color:#FF5722" (click)="imgInput.click()">
          <i class="material-icons">images</i> Images </button>
        <input type="file"
               style="display:none"
               (change)=onLblChanged($event)
               required="datasetForm.get('creatorMode').value=='upload'"
               accept=".txt"
               multiple
               #lblInput>
        <button mat-raised-button class='btn' style="float:right;background-color:#FF5722" (click)="lblInput.click()">
          <i class="material-icons">clear</i> Labels </button>
      </div>
    </div> -->

    <div style="margin-left:77%;width:230px">
      <button mat-raised-button class='btn' (click)=onSubmit() style="float:left;background-color:#FF5722">
        <i class="material-icons">create</i>Submit</button>
      <button mat-raised-button class='btn' (click)=onClear() style="width:105px;float:right;margin-left:20px;background-color:#C2C2C2">
        <i class="material-icons">clear</i>Clear</button>
    </div>

  </form>
</mat-card>

<mat-card class="card-2">

  <div style="float:left;width:100%">
    <mat-form-field style="width:100%">
      <mat-select placeholder="Available Classes">
        <mat-option *ngFor="let type of datasetInfo.classes"> {{type}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="float:left;width:100%">
    <mat-form-field style="width:100%">
      <mat-select placeholder="Available Plants">
        <mat-option *ngFor="let plant of datasetInfo.plants"> {{plant}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="float:left;width:100%">
    <mat-form-field style="width:100%">
      <mat-select placeholder="Available Usecases">
        <mat-option *ngFor="let usecase of datasetInfo.usecases"> {{usecase}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="float:left;width:100%">
    <mat-form-field style="width:100%">
      <mat-select placeholder="Available Tags">
        <mat-option>Dirty</mat-option>
        <mat-option>Empty</mat-option>
        <mat-option>Pink</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="float:left;width:100%;margin-top:20px">
    <mat-form-field appearance="legacy" style="width:70%;height:10px">
      <mat-label>New Class</mat-label>
      <input matInput placeholder="New Class" [(ngModel)]="newClass">
    </mat-form-field>
    <button mat-raised-button class='btn' (click)=addClass()> Add </button>
  </div>
  <div style="float:left;width:100%;margin-top:50px">
    <mat-form-field appearance="legacy" style="width:70%;height:10px">
      <mat-label>New Plant</mat-label>
      <input matInput placeholder="New Plant" [(ngModel)]="newPlant">
    </mat-form-field>
    <button mat-raised-button class='btn' (click)=addPlant()> Add </button>
  </div>
  <div style="float:left;width:100%;margin-top:50px">
    <mat-form-field appearance="legacy" style="width:70%;height:10px">
      <mat-label>New Usecase</mat-label>
      <input matInput placeholder="New Usecase" [(ngModel)]="newUsecase">
    </mat-form-field>
    <button mat-raised-button class='btn' (click)=addUsecase()> Add </button>
  </div>
  <div style="float:left;width:100%;margin-top:50px">
    <mat-form-field appearance="legacy" style="width:70%;height:10px">
      <mat-label>New Tag</mat-label>
      <input matInput placeholder="New Tag">
    </mat-form-field>
    <button mat-raised-button class='btn' (click)=addTag()> Add </button>
  </div>


</mat-card>
