body{
    width:100% ;
    padding:0;
}
.card-1{
  margin-top:30px;
  margin-bottom:30px;
  margin-left:30px;
  height:630px;
  width:70%;
  float:left;
}
.card-1 h3{
  color:#757575;
  text-align:center;
}
.card-1 p{
  text-align:center;
  color:#9E9E9E;
}
.card-2{
    margin-top:30px;
    margin-right:30px;
    margin-bottom:30px;
    height:630px;
    width:20%;
    float:right;
}
.btn{
  float:right;
  background-color:#FF5722;
  margin-top:8px;
  color:white;
  font-weight:550;
}
