<mat-card class="card-2">
  <form [formGroup]="trainingForm">
    <div class="example-form">
      <div class="step-number"><p>1</p></div><h3>Dataset</h3><br>
      <mat-form-field style="width:50%">
        <mat-select placeholder="Available Datasets" (selectionChange)=getSlideshowImages($event) formControlName="datasetName" required>
          <mat-option *ngFor="let dataset of availableDatasets" value={{dataset.name}}> {{dataset.name}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error>
        <span *ngIf="!trainingForm.get('datasetName').valid && trainingForm.get('datasetName').touched"></span>
      </mat-error>
    </div>

    <br>

    <div class="example-form">
      <mat-divider ></mat-divider>
      <div class="step-number"><p>2</p></div><h3>Model</h3><br>
      <div style="width:95%;margin-right:5%">
        <mat-form-field class="example-full-width" style="width:96%">
          <input matInput placeholder="Training Name" formControlName="trainingName" value="" required>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!trainingForm.get('trainingName').valid"></span>
        </mat-error>
      </div>
      <div style="width:95%;margin-right:5%">
        <mat-form-field class="example-full-width" style="width:96%">
          <mat-select placeholder="Select Model" formControlName="modelName" (selectionChange)=getModelInformation($event) required>
             <mat-option *ngFor="let model of trainingModels" value={{model.name}}> {{model.name}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!trainingForm.get('modelName').valid"></span>
        </mat-error>
      </div>
      <div style="width:95%;margin-right:5%">
        <mat-form-field class="example-full-width" style="width:96%">
          <mat-select placeholder="Training Checkpoint" formControlName="checkpoint" required>
            <mat-option value="scratch">Train from Scratch</mat-option>
            <mat-option *ngFor="let config of availableConfigs" value={{config.name}}> {{config.viewNameCheckpoint}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!trainingForm.get('checkpoint').valid"></span>
        </mat-error>
      </div>
      <div style="width:95%;margin-right:5%">
        <mat-form-field class="example-full-width" style="width:96%">
          <mat-select placeholder="Preset Configuration" formControlName="configName" required>
            <mat-option *ngFor="let config of availableConfigs" value={{config.name}}> {{config.viewName}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!trainingForm.get('modelName').valid"></span>
        </mat-error>
      </div>
    </div>

    <br>

    <div formGroupName = "hyperparameters">
      <div class="example-form">
        <mat-divider></mat-divider>
        <div class="step-number"><p>3</p></div><h3>Configuration</h3><br>
        <div style="float:left;width:40%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Batch Size" formControlName="batch">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!trainingForm.get('hyperparameters.batch').valid"></span>
          </mat-error>
        </div>
        <div style="float:right;width:40%;margin-left:5%;margin-right:5%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Subdivisions" formControlName="subdivisions">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!trainingForm.get('hyperparameters.subdivisions').valid"></span>
          </mat-error>
        </div>
        <div style="float:left;width:40%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Total Steps" formControlName="steps">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!trainingForm.get('hyperparameters.steps').valid"></span>
          </mat-error>
        </div>
        <div style="float:right;width:40%;margin-left:5%;margin-right:5%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Initial Learning Rate" formControlName="rates">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!trainingForm.get('hyperparameters.rates').valid"></span>
          </mat-error>
        </div>
        <div style="width:95%;margin-right:5px">
          <mat-form-field class="example-full-width" style="width:96%">
            <mat-select placeholder="Learning Rate Update Mode" formControlName="rateMode">
              <mat-option>Default</mat-option>
              <mat-option value="manualStep">Manual Step</mat-option>
              <mat-option value="expDecay">Exponential Decay</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <table *ngIf="trainingForm.get('hyperparameters.rateMode').value === 'manualStep'" class="example-full-width" cellspacing="10" style="float:right;margin-right:7%">
          <tr>
            <td>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Learning Rate" formControlName="rate1">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.rate1').valid"></span>
              </mat-error>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput  placeholder="Step" formControlName="step1">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.step1').valid"></span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Learning Rate" formControlName="rate2">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.rate2').valid"></span>
              </mat-error>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Step" formControlName="step2">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.step2').valid"></span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Learning Rate" formControlName="rate3">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.rate3').valid"></span>
              </mat-error>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Step" formControlName="step3">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.step3').valid"></span>
              </mat-error>
            </td>
          </tr>
        </table>
        <table *ngIf="trainingForm.get('hyperparameters.rateMode').value === 'expDecay'" class="example-full-width" cellspacing="10" style="float:right;margin-right:7%">
          <tr>
            <td>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Decay Percentage" formControlName="decay">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.decay').valid"></span>
              </mat-error>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Step" formControlName="dstep">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!trainingForm.get('hyperparameters.dstep').valid"></span>
              </mat-error>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div style="margin:auto;width:230px">
      <button mat-raised-button class='btn' (click)=onSubmit() style="float:left;background-color:#FF5722">
        <i class="material-icons">create</i>Submit</button>
      <button mat-raised-button class='btn' (click)=onClear() style="width:105px;float:right;margin-left:20px;background-color:#C2C2C2">
        <i class="material-icons">clear</i>Clear</button>
    </div>
  </form>
</mat-card>

<!-- 
<mat-card class="card-1">
  <slideshow [imageUrls]="images"></slideshow>
</mat-card> -->
